footer
  .container.text-center
    p.float-left © 2018 Company, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='#') GitLab Project
      li.list-inline-item
        a(href='#') Issues
